<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Student Management System</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/students}">Student Management</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 container justify-content-center card">
				<h1 class="text-center">Update Student</h1>
				<div class="card-body">
					<form th:action="@{/students/{id} (id=${student.id})}" th:object="${student}" method="POST">
						<div class="form-group">
							<label>Student First Name</label> <input type="text"
								name="firstName" th:field="*{firstName}" class="form-control"
								placeholder="Enter Student First Name" />
						</div>
						<div class="form-group">
							<label>Student Last Name</label> <input type="text"
								name="lastName" class="form-control" th:field="*{lastName}"
								placeholder="Enter Student Last Name" />
						</div>
						<div class="form-group">
							<label>Student email</label> <input type="text" name="email"
								th:field="*{email}" class="form-control"
								placeholder="Enter Student email" />
						</div>
						<div class="box-footer">
							<button type="submit" class="m-6 btn btn-primary">Submit</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>